@import "../../assets/css/colors.css";

.container {
  width: 450px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 60px;
  text-align: center;
  gap: 30px;
}

.container button {
  width: 100%;
}

.container input {
  width: 100%;
  color: var(--s-details);
  font-size: 1.5rem;
  outline: none;
  margin-bottom: 30px;
  border: 1px solid var(--s-details);
  border-radius: 10px;
}

input:focus, input:focus{
  border: 1px solid #55af1d;
}

[placeholder]{
  padding-block: 8px;
  text-align: center;
}

.container h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.container a {
  box-sizing: border-box;
  color: var(--s-details);
  font-size: 1.125rem;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  align-self: center;
}

.container a[href="/cadastrar"]:hover {
  color: var(--s-color);
  border-bottom: 1px solid var(--s-color);
  transition: .3s;
}

.container p {
  color: #d30000;
  margin-top: 10px;
}

@media (max-width: 450px){
  .container {
    max-width: 300px;
    padding: 30px;
    gap: 20px;
  }

  h1, input {
    font-size: 1.25rem;
  }
}