.no-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #909090;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}

.no-posts::after {
  display: block;
  width: 126px;
  height: 126px;
  content: "";
  background-image: url("../../assets/images/icone.png");
}