@import "../../styles/colors.css";

.container-h {
  max-width: 1500px;
  margin-inline: auto;
}

.box-shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.ul-h {
  display: flex;
  align-items: center;
  color: var(--p-color);
  font-size: 1.5rem;
  list-style-type: none;
  column-gap: 10px;
}

.ul-h li:first-child {
  padding-right: 10px;
  border-right: 2px solid var(--p-color);
}

.ul-h li:last-child {
  color: var(--s-color);
  font-size: 1rem;
}

@media (max-width: 460px){
  header {
    justify-content: center;
    row-gap: 10px;
  }
}