@import "../../assets/css/colors.css";

.post {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 40px 30px 45px;
  column-gap: 30px;
  border-bottom: 1px solid var(--p-details);
}

.info-user h1 {
  color: var(--p-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.info-user span {
  color: var(--s-details);
  font-size: 1rem;
  font-weight: 400;
}

.info-user p {
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
}